<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Footer</title>
    </head>
    <body >
        <div style="background-color: aquamarine;">
            <h3>About Us</h3>
            <p>
                Through this app, you can manage, group, colour-code and even share your busy schedule with your loved ones and friends!. It all starts with one simple click.</br> 
                Help us help <strong>YOU</strong>, by registering and taking a step forwards into making your life more manageable!
            </p>
        </div>
        
    </body>
</html>