<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="static/js/jquery-3.6.0.min.js"></script>
        <title></title>
    </head>
    <body>
        <div id= 'logo'>
            <img src="static/css/2-DO List-logos_white.png"
        </div>
        <div>
            <p>

            </p>
            <table>
                <thead>
                    <td colspan="5">Navigation Menu</td>
                </thead>
                <tr>
                    <tbody>
                        <td><a href='home'>Home</a></td>
                        <td><a href='share'>Shared Lists</a></td>
                        <td><a href='mail'>Mailbox</a></td>
                        <td><a href='rec'>List Records</a></td>
                        <td><a href="/logout">Log Out</a></td>
                    </tbody>
                </tr>
            </table>
        </div>
    </body>
</html>