<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Awesome To-do List App</title>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">
    </head>
    <body>
        {% include 'logo.html' %}
        <h1>My 2-DO List</h1>

        <p>
            <div>
                <h3>Had a rough week?</h3>
                <h3>So much of stuff to do but not know where to begin?</h3></br>
            </div>
            <div>
                You've came to the right place. Through this app, you can manage, group, colour-code and even share your busy schedule with your loved ones and friends!. It all starts with one simple click.</br> 
                Help us help <strong>YOU</strong>, by registering and taking a step forwards into making your life more manageable!
            </div>
            
        </p>
        <form method="post" action='/login'>
            <p>
                <label>Username: </label>
                <input type='text'  name='uname' placeholder="Enter your username"/>
            </p>
            <p>
                <label>Password: </label>
                <input type="password" name="pswrd">
            </p>
            <p>
                <input type="submit"  value="Log In!">
            </p>
        </form>
        <p>
            Don't have an account?<a href="reg">Register here!</a>
        </p>
    </body>
</html>
