<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mailbox</title>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">  
    </head>
    <body>
        {% include 'header.html' %}
        <h1>Mail Box</h1>
        <input type="submit" value="Compose">
        <h2>Unread</h2>
        <p>
            <ul>
                <li>Kylie :Edited Item 1</li>
                <li>James :Deleted Item 4</li>
            </ul>
        </p>
        <h2>Read</h2>
        <p>
            <ul>
                <li>Diana :Added New Item(8)</li>
            </ul>
        </p>
    </body>
</html>