<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Records</title>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">  
    </head>
    <body>
        {% include 'header.html' %}
        <h1>Your Records</h1>
        <h2>Active</h2>
        <p>
            <ul>
                <li>Get groceries</li>
                <li>Get groceries</li>
            </ul>
        </p>
        <h2>Completed</h2>
        <p>
            <ul>
                <li>Get groceries</li>
            </ul>
        </p>
        <h2>Overdue</h2>
        <p>
            <ul>
                <li>Get groceries</li>
                <li>Get groceries</li>
            </ul>
        </p>
    </body>
</html>