<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Awesome To-do List App</title>
    </head>
    <body>
        <h1>My 2-DO List</h1>
        <p>
            <h3>Had a rough week?</h3><h3>So much of stuff to do but not know where to begin?</h3></br>You've came to the right place.
            Through this app, you can manage, group, colour-code and even share your busy schedule with your loved ones and friends!. It all starts with one simple click.</br> 
            Help us help <strong>YOU</strong>, by registering and taking a step forwards into making your life more manageable!
        </p>
        <form action='nextpage'>
            <p>
                <label>Username: </label>
                <input type='text'  name='username' placeholder="Enter your username"/>
            </p>
            <p>
                <label>Password: </label>
                <input type="password" name="user-password">
            </p>
            <p>
                <input type="submit"  value="Log In!">
                <input type="submit"  value="Register!">
            </p>
        </form>
    </body>
</html>
